<form novalidate name="obsForm">
    <div ng-if="::showEmptyConceptSetMessage" class="placeholder-text">{{::conceptSetName}} {{ 'CONCEPT_NOT_FOUND_MESSAGE'|translate }}</div>

    <concept concept-set-required="conceptSetRequired" root-observation="rootObservation" patient="::patient" observation="rootObservation" at-least-one-value-is-set="atLeastOneValueIsSet" show-title="::showTitleValue" collapse-inner-sections="collapseInnerSections" ng-if="!rootObservation.hidden" concept-set-name="::conceptSetName" hide-abnormal-button="hideAbnormalButton">
    </concept>

</form>

<!-- Function to validate surgical start and end time-->
<script>
 function handler_1(e){
        //alert(e.target.value);
        //alert("testing Start and end date");
        let varSurgicalStartDate = (new Date(document.forms["obsForm"]["startDateTime_1"].value)).toISOString().slice(0, 10);
        let varSurgicalStartTime = document.forms["obsForm"]["startDateTime_2"].value;
        let varSurgicalEndDate = (new Date(document.forms["obsForm"]["endDateTime_1"].value)).toISOString().slice(0, 10);
        let varSurgicalEndTime = document.forms["obsForm"]["endDateTime_2"].value;
        if((e.target.value < varSurgicalStartDate)){
          alert("Surgical Finish Time must be greater than Anesthesia Start Time or must be on the same day - please update the dates/times");
          document.forms["obsForm"]["endDateTime_1"].value = "";
          document.forms["obsForm"]["endDateTime_2"].value = ""
          e.target.reportValidity();
          document.forms["obsForm"]["endDateTime_1"].style.background = "#ffcdcd";
          document.forms["obsForm"]["endDateTime_1"].style.border ="2px solid #ff3434";
        }else{
          document.forms["obsForm"]["endDateTime_1"].style.background = "none";
	  document.forms["obsForm"]["endDateTime_1"].style.border ="1px solid #DDD";
        }
  }
  function handler_2(e){
        //alert(e.target.value);
        //alert("testing Start and end date");
        let varSurgicalStartDate = (new Date(document.forms["obsForm"]["startDateTime_1"].value)).toISOString().slice(0, 10);
        let varSurgicalStartTime = document.forms["obsForm"]["startDateTime_2"].value;
        let varSurgicalEndDate = (new Date(document.forms["obsForm"]["endDateTime_1"].value)).toISOString().slice(0, 10);
        let varSurgicalEndTime = document.forms["obsForm"]["endDateTime_2"].value;
        if((e.target.value < varSurgicalStartTime)){
          alert("Surgical Finish Time must be greater than Anesthesia Start Time or must be on the same day - please update the dates/times");
          //document.forms["obsForm"]["endDateTime_1"].value = "";
          document.forms["obsForm"]["endDateTime_2"].value = ""
          e.target.reportValidity();
          document.forms["obsForm"]["endDateTime_2"].style.background = "#ffcdcd";
          document.forms["obsForm"]["endDateTime_2"].style.border ="2px solid #ff3434";
        }else{
          document.forms["obsForm"]["endDateTime_2"].style.background = "none";
          document.forms["obsForm"]["endDateTime_2"].style.border ="1px solid #DDD";
        }
  }
</script>
<script>
function validateForm(operativeReport){
    let datePicker = operativeReport.querySelectorAll('.date-picker-observation')
//    alert("am in")
    let counter = 0;
    datePicker.forEach(check => {
      counter ++;
      let innerDatePicker = check.querySelectorAll('.ng-pristine.ng-untouched.ng-valid');
      if(counter === 1){
        let nameAddtion = 0;
        innerDatePicker.forEach(childObs => {
          nameAddtion++;
          childObs.setAttribute('name','startDateTime_'+nameAddtion)
//          alert("am in child element "+counter+" loop")
        });
      }
      if(counter === 2){
        let nameAddtion = 0;
        innerDatePicker.forEach(childObs => {
          nameAddtion++;
          childObs.setAttribute('name','endDateTime_'+nameAddtion)
	  //if(nameAddtion == 1){
            childObs.setAttribute('onChange','handler_'+nameAddtion+'(event)')
          //}
//          alert("am in child element "+counter+" loop")
        });
      }
    });
    counter =0;
}

setTimeout(function(){
const operativeReport = document.getElementById("concept-set-6690d105-8eb5-4e40-9063-390ff353021e");
  const entOperativeReport = document.getElementById("concept-set-6690d105-8eb5-4e40-9063-390ff353021e");
  const orthopaedicOperativeReport = document.getElementById("concept-set-c4aff83c-b8d6-4172-8dc5-4d611c5c51d7");
  const cleftOperativeReport = document.getElementById("concept-set-f8125986-7ab3-4cef-be67-c8c220299a51");
  if(entOperativeReport){
	validateForm(entOperativeReport);
  }
  if(orthopaedicOperativeReport){
        validateForm(orthopaedicOperativeReport);
  }
  if(cleftOperativeReport){
        validateForm(cleftOperativeReport);
  }
 
}, 6000);
</script>
<script>
const spritual = document.getElementById("concept-set-1e4abb3a-b5ae-482a-b5bb-c94c492b1075");
if (spritual) {
    const wrapper = document.getElementById("concept-set-1e4abb3a-b5ae-482a-b5bb-c94c492b1075");
    wrapper.addEventListener('click', (event) => {
        const isButton = event.target.nodeName === 'BUTTON';
        if (!isButton) {
            return;
        }
	var survey_date = $( "#concept-set-1e4abb3a-b5ae-482a-b5bb-c94c492b1075 input[type='date']" ).eq(-2).val()
        var currentNext6Date;
        var currentNext12Date;
        if(survey_date === null){
                currentNext6Date = new Date();
                currentNext12Date = new Date();
        }else{
              	currentNext6Date = new Date(survey_date);
                currentNext12Date = new Date(survey_date);
        }
	currentNext6Date.setMonth(currentNext6Date.getMonth() + 6);
        currentNext12Date.setMonth(currentNext12Date.getMonth() + 12);
        let returnAfterField = 'Return after:';
        let returnAfterFieldAnswers = '{ "6 Months": "'+currentNext6Date.toISOString().slice(0, 10)+'", "12 Months": "'+currentNext12Date.toISOString().slice(0, 10)+'"}';
        const obj = JSON.parse(returnAfterFieldAnswers);
        let questionStr = event.target.closest('fieldset').getElementsByTagName('label')[0].innerHTML.split("<")[1];
        let question = questionStr.substring(questionStr.lastIndexOf(">") + 1)
        let button = event.target.title;

        if (question.trim() === returnAfterField) {
           $( "#concept-set-1e4abb3a-b5ae-482a-b5bb-c94c492b1075 input[type='date']" ).last().val(obj[button]).trigger("change");
        }
    })
}
</script>
<script>
const eq5dy = document.getElementById("concept-set-2afb49f9-721a-4c34-b7c2-2d823156f830");
if (eq5dy) {
    const wrapper = document.getElementById("concept-set-2afb49f9-721a-4c34-b7c2-2d823156f830");
    wrapper.addEventListener('click', (event) => {
        const isButton = event.target.nodeName === 'BUTTON';
        if (!isButton) {
            return;
        }
	var survey_date = $( "#concept-set-2afb49f9-721a-4c34-b7c2-2d823156f830 input[type='date']" ).eq(-2).val()
	var currentNext6Date;
	var currentNext12Date;
	if(survey_date === null){
		currentNext6Date = new Date();
		currentNext12Date = new Date();
	}else{
		currentNext6Date = new Date(survey_date);
                currentNext12Date = new Date(survey_date);
	}
    	currentNext6Date.setMonth(currentNext6Date.getMonth() + 6);
    	currentNext12Date.setMonth(currentNext12Date.getMonth() + 12);
    	let returnAfterField = 'Return after:';
    	let returnAfterFieldAnswers = '{ "6 Months": "'+currentNext6Date.toISOString().slice(0, 10)+'", "12 Months": "'+currentNext12Date.toISOString().slice(0, 10)+'"}';
    	const obj = JSON.parse(returnAfterFieldAnswers);
	let questionStr = event.target.closest('fieldset').getElementsByTagName('label')[0].innerHTML.split("<")[1];
        let question = questionStr.substring(questionStr.lastIndexOf(">") + 1)
        let button = event.target.title;

        if (question.trim() === returnAfterField) {
           $( "#concept-set-2afb49f9-721a-4c34-b7c2-2d823156f830 input[type='date']" ).last().val(obj[button]).trigger("change");
        }
    })
}
</script>

<script>
const schoolWhodas = document.getElementById("concept-set-0d938e9b-3e46-4299-813c-b1ef13976540");
if (schoolWhodas) {
    const wrapper = document.getElementById("concept-set-0d938e9b-3e46-4299-813c-b1ef13976540");
    wrapper.addEventListener('click', (event) => {
        const isButton = event.target.nodeName === 'BUTTON';
        if (!isButton) {
            return;
        }
	var survey_date = $( "#concept-set-0d938e9b-3e46-4299-813c-b1ef13976540 input[type='date']" ).eq(-2).val()
        var currentNext6Date;
        var currentNext12Date;
        if(survey_date === null){
                currentNext6Date = new Date();
                currentNext12Date = new Date();
        }else{
              	currentNext6Date = new Date(survey_date);
                currentNext12Date = new Date(survey_date);
        }
        currentNext6Date.setMonth(currentNext6Date.getMonth() + 6);
        currentNext12Date.setMonth(currentNext12Date.getMonth() + 12);
        let returnAfterField = 'Return after:';
        let returnAfterFieldAnswers = '{ "6 Months": "'+currentNext6Date.toISOString().slice(0, 10)+'", "12 Months": "'+currentNext12Date.toISOString().slice(0, 10)+'"}';
        const obj = JSON.parse(returnAfterFieldAnswers);
        let questionStr = event.target.closest('fieldset').getElementsByTagName('label')[0].innerHTML.split("<")[1];
        let question = questionStr.substring(questionStr.lastIndexOf(">") + 1)
        let button = event.target.title;
        if (question.trim() === returnAfterField) {
            $( "#concept-set-0d938e9b-3e46-4299-813c-b1ef13976540 input[type='date']" ).last().val(obj[button]).trigger("change");
        }
    })
}
</script>

<script>
const nonSchoolWhodas = document.getElementById("concept-set-bc3c7215-bb67-4532-a35c-af73e439d25b");
if (nonSchoolWhodas) {
    const wrapper = document.getElementById("concept-set-bc3c7215-bb67-4532-a35c-af73e439d25b");
    wrapper.addEventListener('click', (event) => {
        const isButton = event.target.nodeName === 'BUTTON';
        if (!isButton) {
            return;
        }
	var survey_date = $( "#concept-set-bc3c7215-bb67-4532-a35c-af73e439d25b input[type='date']" ).eq(-2).val()
        var currentNext6Date;
        var currentNext12Date;
        if(survey_date === null){
                currentNext6Date = new Date();
                currentNext12Date = new Date();
        }else{
              	currentNext6Date = new Date(survey_date);
                currentNext12Date = new Date(survey_date);
        }
        currentNext6Date.setMonth(currentNext6Date.getMonth() + 6);
        currentNext12Date.setMonth(currentNext12Date.getMonth() + 12);
        let returnAfterField = 'Return after:';
        let returnAfterFieldAnswers = '{ "6 Months": "'+currentNext6Date.toISOString().slice(0, 10)+'", "12 Months": "'+currentNext12Date.toISOString().slice(0, 10)+'"}';
        const obj = JSON.parse(returnAfterFieldAnswers);
        let questionStr = event.target.closest('fieldset').getElementsByTagName('label')[0].innerHTML.split("<")[1];
        let question = questionStr.substring(questionStr.lastIndexOf(">") + 1)
        let button = event.target.title;
        if (question.trim() === returnAfterField) {
            $( "#concept-set-bc3c7215-bb67-4532-a35c-af73e439d25b input[type='date']" ).last().val(obj[button]).trigger("change");
        }
    })
}
</script>
